# Configuration file

"don't touch that" {
    D:version=2.0
}


general {

    block {
        B:doSablePop=true
        B:oneUseWaystone=true
    }

    client {
        B:soulCompass=true
        B:soulCompassAnchors=true
        B:useShaders=true
    }

    entities {
        B:minionsAttackCreepers=true
    }

    respawn {
        B:bodiesDespawn=true
        B:bodiesHoldInventory=true
        I:respawnDimension=-1
        B:respawnInNether=false
        B:skipDeathScreen=false
        B:wowLikeRespawn=true
    }

    ghost {
        # Min: -1
        # Max: 3
        I:flightMode=0
        B:invisibleGhosts=false
    }

    worldgen {
        I:spawnMercuryLakesFreq=100
    }

    wip {
        B:enableSoulDash=false
    }

}


