# Configuration file

general {
    # Changes the level cap for werewolves.§r [range: 1 ~ 30, default: 20]
    I:"Set Level Cap"=20

    # Generate silver ore in world.§r [default: true]
    B:"Spawn Silver Ore"=true
}


