# Configuration file

compatability {
    # Aether Dimension ID - Ice Dragons and Fire Dragons will spawn here if option is used
    I:aetherDimensionID=3

    # Turn this on if you use the aether mod and want dragons to spawn in that dimension
    B:useAetherCompat=false
}


dragons {
    # Max dragon attack damage. Attack Damage is scaled to this
    I:dragonAttackDamage=17

    # Dragon Flap Noise Distance - Larger number, further away you can hear it
    I:dragonFlapNoiseDistance=4

    # Dragon Flute Distance - how many chunks away is the dragon flute effective?
    I:dragonFluteDistance=4

    # How far away dragons will detect gold blocks being destroyed or chests being opened.
    I:dragonGoldSearchLength=17

    # Dragon griefing - 2 is no griefing, 1 is breaking weak blocks, 0 is default
    I:dragonGriefing=0

    # Max dragon health. Health is scaled to this
    I:dragonHealth=500

    # Modifier of how far 3rd person distance is whilst riding a dragon, scaled against size.
    D:dragonRiding3rdPersonDistanceModifier=0.800000011920929

    # How high dragons can fly, in Y height.
    I:maxDragonFlight=128
}


generation {
    # Dragons cannot spawn in these dimensions' IDs
    I:dragonBlacklistedDimensions <
        1
        -1
     >

    # 1 out of this number chance per block that gold will generate in dragon lairs.
    I:dragonDenGoldAmount=1

    # Dragons can only spawn in these dimensions' IDs
    I:dragonWhitelistedDimensions <
        0
     >

    # 1 out of this number chance per chunk for generation
    I:generateDragonDenChance=180
    B:generateDragonDens=true

    # 1 out of this number chance per chunk for generation
    I:generateDragonRoostChance=360
    B:generateDragonRoosts=true

    # 1 out of this number chance per chunk for generation
    I:generateDragonSkeletonChance=150

    # Generate dragon skeletons in hot biomes?
    B:generateDragonSkeletons=true
    B:generateSapphireOre=true
    B:generateSilverOre=true

    # 1 out of this number chance per chunk for generation
    I:generateSnowVillageChance=100
    B:generateSnowVillages=true

    # glacier biome spawn chance - higher the number, higher the rarity
    I:glacierSpawnChance=4

    # Ratio of Stone(this number) to Ores in Dragon Caves
    I:oreToStoneRatioForDragonCaves=5

    # Snow Villages cannot spawn in these dimensions' IDs
    I:snowVillageBlacklistedDimensions <
        1
        -1
     >

    # Snow Villages can only spawn in these dimensions' IDs
    I:snowVillageWhitelistedDimensions <
        0
     >

    # 1 out of this number chance per chunk for generation
    I:spawnGorgonsChance=80

    # true to use Blacklist configs, false to use Whitelist configs
    B:useDimensionBlackList=true
}


gorgons {
    # Wether to spawn gorgon structures or not
    B:spawnGorgons=true
}


hippogryphs {
    # List of biome ids for black hippogryphs to spawn in.
    I:hippogryphBlackBiomes <
        17
     >

    # List of biome ids for brown hippogryphs to spawn in.
    I:hippogryphBrownBiomes <
        3
     >

    # List of biome ids for chestnut hippogryphs to spawn in.
    I:hippogryphChestnutBiomes <
        28
     >

    # List of biome ids for creamy hippogryphs to spawn in.
    I:hippogryphCreamyBiomes <
        36
     >

    # List of biome ids for dark brown hippogryphs to spawn in.
    I:hippogryphDarkBrownBiomes <
        19
     >

    # List of biome ids for gray hippogryphs to spawn in.
    I:hippogryphGrayBiomes <
        157
     >

    # List of biome ids for white hippogryphs to spawn in.
    I:hippogryphWhiteBiomes <
        13
     >

    # True if hippogryphs are allowed to spawn.
    B:spawnHippogryphs=true
}


pixies {
    # The size of pixie villages.
    I:pixieVillageSize=5

    # Wether to spawn pixie villages or not
    B:spawnPixies=true

    # 1 out of this number chance per chunk for generation
    I:spawnPixiesChance=60
}


